@import "colors";


.header {
  position: relative;
  height: 100vh;
}
.header__aside {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, .25);
  height: 100vh;
}
.header__title {
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  color: white;
  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    display: block;
    color: rgba(#fff, .7);
  }
}

.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.05px;
  text-transform: capitalize ;
  color: rgba(#fff, .7);
  &::before {
    content: "" ;
    position: absolute;
    width: 11px;
    height: 13px;
    //background-image: url(/src/public/img/marker.svg);
    left: 0;
    top: 0;
  }
}
.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 30px;
  z-index: 3;
}
.menu {
  padding-top: 40px;

  a {
    span {
      color: white;
      display: block;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      font-weight: 500;
      padding-top: 6px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
  }
}




// slider
.header__slider {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
}
.slider_body {
  position: relative;
  width: 100%;
  height: 100vh;
}
.slider-item {
  padding-right: 80px;
  padding-bottom: 120px;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex !important;
  justify-content: end;
  align-items: end;

}
.slider-item__info {
  text-align: right;
  width: fit-content;
}
.slider-item__info-suptitle {
  margin-bottom: 5px;
}
.slider-item__info-suptex {
  margin-bottom: 8px;
}

.slider-item__info-title {
  font-weight: 800;
  font-size: 76px;
  margin-bottom: 48px;
}
.slider-item__info-text {
  font-weight: 800;
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .slider-dots__item {
    padding-right: 24px;
    &:last-child {
      padding-right: 0;
    }
    .dots-box {
      width: 200px;
      display: flex;
      justify-content: space-between;
      height: 28px;
      align-items: center;
      border-top: 4px solid #ffffff8c;
      padding-top: 6px;
      color: white;
      cursor: pointer;
      &:hover {
        border-top: 4px solid white;
      }
      
      &__number {
        line-height: 34px;
        font-weight: 800;
        font-size: 24px;
      }
      &__name {
        font-weight: 300;
        line-height: 19px;
        text-transform: capitalize;
        text-transform: capitalize;
      }
    }
  }
  .slick-active {
      border-top: 4px solid $green !important;
  }
}




.slider-dots_header {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}
