@import "colors";
.shop {
  background-repeat: no-repeat !important;
  background-position: right center !important;
  .slider-arrows {
    opacity: 0.25;
    cursor: pointer;
  }
}
.shop__slider {
  padding-left: 132px;
}
.shop__slider-inner {
  display: flex;
}
.shop-slider__btn {
  .btn {
    color: white;
  }
}

.shop__slider-info {
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
  padding-top: 150px;
}
.descr__head-shop {
  min-width: 340px;
  margin-bottom: 47px;
}
.shop__star-list {
  margin-left: -9px;

  li {
    opacity: 0.2;
    padding-right: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  .isActive {
    opacity: 1;
  }
}
.shop__slider-price {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 64px;
  sup {
    font-size: 18px;
    padding-left: 2px;
  }
}
.shop__slider-content {
  padding-left: 170px;
  display: flex;
  align-items: flex-end;
}
.shop__extras {
  padding-left: 150px;
}
.shop__extras-inner {
  display: flex;
}
.shop__extras-title {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 25px;
  font-weight: 800;
}

.shop__extras-box {
  text-align: center;
  margin-right: 57px;
}
.shop__extras-img {
  min-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.shop__extras-name {
  line-height: 22px;
  font-size: 18px;
  opacity: .5;
  letter-spacing: 8px;
  margin-bottom: 16px;
}
.shop__extras-price {
  font-size: 18px;
  line-height: 48px;
  font-weight: 800;
}
.shop__slider-item {
  color: white;
}

.shop_arrows {
  text-align: end;
  padding-right: 50px;
}

.circle-row {
  background-color: $green;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}


// surfboard-box__content
.surfboard-box__circle.active + .surfboard-box__content {
  display: block;
}
.surfboard-box__circle {
  width: 20px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  cursor: pointer;
  &.active {
    .circle-row {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
.surfboard-box__content {
  display: none;
  position: absolute;
  width: 359px;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  padding-left: 104px;
  top: -15px;
  left: 40px;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}

.surfboard {
  position: relative;
}
.surfboard-box {
  position: absolute;
}
.surfboard__position--1 {
  right: 40px;
  top: 215px;
}
.surfboard__position--2 {
  left: -6px;
  top: 313px;
}
.surfboard__position--3 {
  bottom: 78px;
  left: 52px;
  .surfboard-box__content {
    padding-left: 0;
    padding-right: 104px;
    top: -15px;
    left: -400px;
    &::before {
      content: "";
      position: absolute;
      width: 134px;
      height: 1px;
      background-color: #fff;
      left: 250px;
      top: 50%;
    }
  }
}

